body {
    background-color: chartreuse;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    border:5px inset #7F00FF;
}

ul {
    border:10px dotted #FF0080;
    width: auto;
}

section {
    border: 2px solid white;
    min-width: 200px;
}

.para {
    color: white;
    font-style: bold;
}

#title {
    font-stretch: ultra-expanded;
    color:#FF0080;
}

#second {
    background-color: blue;
}

.image {
    margin: 0 auto;
    width: 350px;
}

img {
    width: 100%;
}

.main {
    display:flex;
    /* flex-direction:column; */
    flex-wrap: wrap;
}

section {
    display:flex;
    width: 40%;
}



